*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bodyIndex{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
/* sección listas nav principal */
.header-banner{
    background-image: url(img/IMG-7252.jpg);
    background-color: rgb(173, 182, 196);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.tituloBanner{
    background-color: rgb(41, 76, 96);
    font-size: 50px;
    color: rgb(173, 182, 196);
    padding: 0px;
    margin: 0px;
}
.header__navegador--Principal{
    background-color: rgb(173, 182, 196);
    padding: 50px;
    list-style: none;
    list-style-type: lower-roman;
    list-style-position: outside;
}
.header__navegador--Principal li{
    display: inline-block;
}
.header__navegador--Principal a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(255, 239, 211);
    padding: 1rem;
    background-color: rgb(255, 196, 155);
}
.mainIndex{
    background-color: rgb(255, 239, 211);
    font-style: initial;
}
.tituloMain{
    font-size: 50px;
    color: rgb(173, 182, 196);
    text-align: center;
}
table,th,td{
border: 1px solid black;
padding: 5px;
table-layout:fixed;
font-size: 3vh;
}
.caja{
    background-color: rgb(41, 76, 96);
    width: 300px;
    height: 300px;
    border: 3px solid rgb(255, 196, 155);
    border-radius: 20px;
    margin: 50px 50px 40px 40px;
    position: relative;
    top: 10%;
    left: 10%;
}
.caja2{
    width: 300px;
    height: 300px;
    background-color: rgb(173, 182, 196);    
}
.pie{
    background-color: rgb(41, 76, 96);
    font-style: italic;
}
/* sección contacto */
.fondoContacto{
    background-image: url(img/IMG-7251.jpg);
    background-position: center;
    background-size: cover;
}
.contacto{
    padding: 1rem;
    margin: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-size: cover;
}  
.contacto-form{
    padding: 2rem;
    max-width: 500px;
    width: 60vh;
    line-height: 2vh;
    margin: 2vh;
    background-color: rgb(255, 239, 211);
}
.contacto-form__input{
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0,5rem;
    border: none;
    color: rgb(41, 76, 96);
    width: 100%;
    background-color: white;
}
.btnEnviar{
    width: 50%;
    background-color: rgb(255, 196, 155);
    border-color: rgb(41, 76, 96));
    border: 2px solid;
    border-radius: 0,3rem;
    cursor: pointer;
    padding: 0,4rem;
    font-weight: 700;
    font-size: 1rem;
    color: whitesmoke;
    margin-left: 25%;
}
.btnEnviar :hover{
    background-color: turquoise;
    font-size: 2%;
}
/* Sección Servicios-Flex */
.bodyFlex{
    background-color: rgb(0, 27, 46);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serviciosFlex{
    background-color: rgb(255, 239, 211);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    order: inherit;
    flex-flow: nowrap;
}
.serviciosFlex img{
    width: 30vw;
}
.contenido{
    display: flex;
    background-color:rgb(41, 76, 96);
    align-items: center;
}
.contenedor-imagen{
    width: 50%;
}
.contenido img{
    width: 100%;
}
.textoFlex{
    width: 50%;
    color: white;
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem;
    line-height: 25px;
}
/* Sección Catering */
.productos{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 239, 211);
    justify-content: center;
    align-items:center;
    align-content: center;
    order: inherit;
    height: 600px;
    
}
.itema{
    background-image: url(img/640A27D6-650C-4A88-B6A0-96258957D784.JPG);
    background-size: cover;
    height: 600px;
    width: 600px;
}
.itemb{
    background-image: url(img/IMG-5768.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
}
.itemc{
    background-image: url(img/IMG-7113.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
}
.productos2{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 239, 211);
    justify-content: center;
    align-items:center;
    align-content: center;
    order: inherit;
    height: 500px;
}
.productos3{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 239, 211);
    justify-content: center;
    align-items:center;
    align-content: center;
    order: inherit;
    height: 300px;
}
.itemd{
    background-image: url(img/IMG-5767.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
}
.iteme{
    background-image: url(img/IMG-6918.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
}
.itemf{
    background-image: url(img/IMG-6199.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
}

/* Sección Galería */

.imagen1{
    width: 500px;
    height: 1000px;
    background-image: url(img/B7F1E5F2-B80B-483E-B406-38BEEA2FB3D2.JPG);
    background-position: center;
    display: inline-block;
}
.imagen2{
    width: 500px;
    height: 1000px;
    background-image: url(img/B7F1E5F2-B80B-483E-B406-38BEEA2FB3D2.JPG);
    display: inline-block;
    position: inherit;
    background-position: center;
}
.imagen3{
    width: 500px;
    height: 1000px;
    background-image: url(img/B7F1E5F2-B80B-483E-B406-38BEEA2FB3D2.JPG);
    display: inline-block;
    position: inherit;
    background-position: center;
}
/* sección nosotros */
.nosotrosFondo{
    background-image: url(img/IMG-6196.jpg);
    background-position:center;
    background-size: 100%;
}
.nosotrosText{
    background-color: rgb(255, 239, 211);
    width: 50%;
    color:rgb(41, 76, 96);
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem;
    line-height: 25px;
    animation-name: animacion;
    animation-duration: 10s;
    position: relative;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes animacion{
    0%{
        background-color:rgb(255, 239, 211);
        left: 0px;
        top: 0px;
    }
    25%{
        background-color:rgb(173, 182, 196);
        color: snow;
        left: 300px;
        top: 0px;
    }
    50%{
        background-color:rgb(255, 196, 155);
        left: 300px;
        top: 30px;
    }
    75%{
        background-color:rgb(41, 76, 96);
        color: snow;
        left: 0px;
        top: 30px;
    }
    100%{
        background-color:rgb(173, 182, 196);
        left: 0px;
        top: 0px;
    }
}
.gradiente{
    background-image: linear-gradient(to left, red, yellow);
    height: 300px;

}